@theme {
    --color-bone : '#D8CFBC',
    --color-olivedrab : '#565449',
    --color-graphite : '#353A3E';
    --color-onyx: '#222526',
    --color-platinum: '#E0E0E0';
    --color-cloudwhite: '#FAFAFA',
}
